
Notes.txt
*.dll
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.0/Prisma.Datahub.Pipeline.Tests.AssemblyInfo.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.0/Prisma.Datahub.Pipeline.Tests.AssemblyInfoInputs.cache
*.cache
*.pdb
*.txt
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp2.0/Prisma.Datahub.Pipeline.Tests.AssemblyInfo.cs
*.CopyComplete
Remnant.Pipeline.Tests/obj/Debug/netcoreapp2.0/Prisma.Datahub.Pipeline.Tests.Program.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp2.0/Prisma.Pipeline.Tests.AssemblyInfo.cs
Remnant.Pipeline.Tests/obj/Remnant.Pipeline.Tests.csproj.nuget.g.targets
Remnant.Pipeline.Tests/obj/Remnant.Pipeline.Tests.csproj.nuget.g.props
Remnant.Pipeline.Tests/obj/project.assets.json
Remnant.Pipeline.Tests/obj/Prisma.Pipeline.Tests.csproj.nuget.g.targets
Remnant.Pipeline.Tests/obj/Prisma.Pipeline.Tests.csproj.nuget.g.props
Remnant.Pipeline.Tests/obj/Prisma.Datahub.Pipeline.Tests.csproj.nuget.g.targets
Remnant.Pipeline.Tests/obj/Prisma.Datahub.Pipeline.Tests.csproj.nuget.g.props
Remnant.Pipeline.Tests/obj/Debug/netcoreapp2.0/Remnant.Pipeline.Tests.Program.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp2.0/Remnant.Pipeline.Tests.AssemblyInfo.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp2.0/Prisma.Pipeline.Tests.Program.cs
Remnant.Pipeline/bin/Debug/Remnant.Pipeline.1.0.0.nupkg
Remnant.Pipeline/bin/Debug/Remnant.Pipeline.1.0.1.nupkg
Remnant.Pipeline/bin/Debug/Remnant.Pipeline.1.0.2.nupkg
Remnant.Pipeline/bin/Debug/Remnant.Pipeline.1.0.3.nupkg
Remnant.Pipeline/obj/Debug/net45/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Remnant.Pipeline/obj/Debug/net45/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Remnant.Pipeline/obj/Debug/net45/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Remnant.Pipeline/obj/Debug/net46/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Remnant.Pipeline/obj/Debug/net46/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Remnant.Pipeline/obj/Debug/net46/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Remnant.Pipeline/obj/Debug/net461/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Remnant.Pipeline/obj/Debug/net461/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Remnant.Pipeline/obj/Debug/net461/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Remnant.Pipeline/obj/Debug/Remnant.Pipeline.1.0.0.nuspec
Remnant.Pipeline/obj/Debug/Remnant.Pipeline.1.0.1.nuspec
Remnant.Pipeline/obj/Debug/Remnant.Pipeline.1.0.2.nuspec
Remnant.Pipeline/obj/Debug/Remnant.Pipeline.1.0.3.nuspec
Remnant.Pipeline/obj/project.assets.json
Remnant.Pipeline/obj/Remnant.Pipeline.csproj.nuget.g.props
Remnant.Pipeline/obj/Remnant.Pipeline.csproj.nuget.g.targets
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Remnant.Pipeline.Tests.runtimeconfig.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Remnant.Pipeline.Tests.runtimeconfig.dev.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Remnant.Pipeline.Tests.dll.config
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Remnant.Pipeline.Tests.deps.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Prisma.Pipeline.Tests.runtimeconfig.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Prisma.Pipeline.Tests.runtimeconfig.dev.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Prisma.Pipeline.Tests.dll.config
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Prisma.Pipeline.Tests.deps.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Prisma.Datahub.Pipeline.Tests.runtimeconfig.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Prisma.Datahub.Pipeline.Tests.runtimeconfig.dev.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/Prisma.Datahub.Pipeline.Tests.deps.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/nunit_random_seed.tmp
Remnant.Pipeline.Tests/bin/Debug/netcoreapp2.0/log4net.config
Remnant.Pipeline.Tests/bin/Debug/netcoreapp1.1/Prisma.Datahub.Pipeline.Tests.runtimeconfig.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp1.1/Prisma.Datahub.Pipeline.Tests.runtimeconfig.dev.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp1.1/Prisma.Datahub.Pipeline.Tests.deps.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp1.1/nunit_random_seed.tmp
Remnant.Pipeline.Tests/bin/Debug/netcoreapp1.0/Prisma.Datahub.Pipeline.Tests.runtimeconfig.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp1.0/Prisma.Datahub.Pipeline.Tests.runtimeconfig.dev.json
Remnant.Pipeline.Tests/bin/Debug/netcoreapp1.0/Prisma.Datahub.Pipeline.Tests.deps.json
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.1/Prisma.Datahub.Pipeline.Tests.AssemblyInfo.cs
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.1/Prisma.Datahub.Pipeline.Tests.Program.cs
Remnant.Pipeline/bin/Debug/netcoreapp2.0/Remnant.Pipeline.deps.json
Remnant.Pipeline/bin/Debug/netstandard2.0/Remnant.Pipeline.deps.json
Remnant.Pipeline.Tests/obj/Debug/netcoreapp1.0/Prisma.Datahub.Pipeline.Tests.Program.cs
.vs/Remnant.Pipeline/v15/Server/sqlite3/storage.ide-wal
.vs/Remnant.Pipeline/v15/Server/sqlite3/storage.ide-shm
.vs/Remnant.Pipeline/v15/Server/sqlite3/storage.ide
.vs/Remnant.Pipeline/v15/Server/sqlite3/db.lock
.vs/Remnant.Pipeline/v15/.suo
.vs/Remnant.Pipeline/DesignTimeBuild/.dtbcache
